// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerMargin: 0 auto;
$containerPadding: 20;
$containerSidePadding: $containerPadding / 2;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;
$buttonColor: #458FF6;
$gradientColor: linear-gradient(183deg, #6888C8 -8.57%, #5A98F2 82.96%);

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'Mulish';
// $fontSecondary: '';
$fontSize: 16px;
$fontColor: #7D7987;
$titleColor: #462E6A;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;